= simple_form_for :session, :html => {:class => 'form-horizontal'} do |f|
  = f.input :username, :hint => "Try one: admin, editor, writer"
  = f.input :password, :hint => "1234"
  .form-actions
    = f.submit :class => 'btn-primary', :value => 'Sign In'