
%h2 Listing users

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Name
      %th Username
      %th{width: 120}

  - @users.each do |user|
    %tr
      %td= user.name
      %td= user.username
      %td
        = link_to edit_user_path(user), class: 'btn btn-mini btn-primary' do
          %i.icon-pencil.icon-white
          Edit
        = link_to user, confirm: 'Are you sure?', method: :delete, class: 'btn btn-mini btn-danger' do
          %i.icon-trash.icon-white
          Destroy
